
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  }
  
  h2, h4 {
    color: #333;
  }
  

  header {
    background-color: #24822e;
  }
  
  header h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0;
  }
  

  .navbar {
    background-color: #1c7fe1;
  }
  
  .navbar .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: 10px 15px;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #023b77;
  }
  


  .card img {
    border-radius: 5px;
  }

  section {
    padding: 60px 0;
  }
  
  #solucoes {
    background-color: #f8f9fa;
  }
  
  #cards .card {
    border: none;
  }
  
  #cards .card-body {
    text-align: center;
  }
  
  #impactos ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  #impactos ul li {
    margin-bottom: 10px;
  }
  


  form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
  }
  
  form .form-label {
    font-weight: bold;
  }
  
  form button {
    width: 100%;
    padding: 12px;
    background-color: #24822e;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  form button:hover {
    background-color: #22772a;
  }
  
  .card{
    transition: all 0.3s ease;
  }

  .card:hover{
    transform: scale(1.05);
  }